<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="initial-scale=1.0">
        <title>Add New Distributor</title>
        <link rel="stylesheet" href="stylesheets/newDistributor.css">
    </head>

    <div>
        <h1>Add a new Distributor</h1>
    </div>

    <body>
        <div>
            <form action="" method = 'POST' id="Submit">
                <label for = "Name">Name:</label> <br>
                <input id = "Name" type="text" name = "name"/> <br>

                <label for ="Email">Email Address:</label> <br>
                <input id = "Email" type="text" name = "email"/> <br>

                <label for = "Address">Address:</label> <br>
                <input id = "Address" type="text" name = "address"/> <br>

                <label for = "Phone">Phone Number:</label> <br>
                <input id = "Phone" type="text" name = "phone"/> <br>

                <label for = "Rating">Rating:</label> <br>
                <input id = "Rating" type="text" name = "rating"/> <br>

                <label for = "Cuisine">Cuisine:</label> <br>
                <input id = "Cuisine" type="text" name = "cuisine"/> <br>

                <label for = "Food">Food Name:</label> <br>
                <input id = "Food" type="text" name = "food"/> <br>

                <label for = "Ingredients">Ingredients:</label> <br>
                <input id = "Ingredients" type="text" name = "ingredients"/> <br>

                <label for = "Portion_size">Size of Portion:</label> <br>
                <input id = "Portion_size" type="text" name = "portion_size"/> <br>

                <label for = "Allergens">Allergens:</label> <br>
                <input id = "Allergens" type="text" name = "allergens"/> <br>

                <label for = "Price">Price:</label> <br>
                <input id = "Price" type="text" name = "price"/> <br>
                <input type="submit" value = "Submit"/> <br>
            </form>
        </div>
    </body>

    <container>
            <div>
                <a href="index.html" class="float">
                    <p class = "float">Back Home</p>
                </a>
            </div>
    </container>
</html>
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("form#Submit").on('submit', function(e) {
            e.preventDefault();
            var name = $('#Name')[0].value;
            var email = $('#Email')[0].value;
            var address = $('#Address')[0].value;
            var phone = $('#Phone')[0].value;
            var rating = $('#Rating')[0].value;
            var cuisine = $('#Cuisine')[0].value;
            var food_name = $('#Food')[0].value;
            var ingredients = $('#Ingredients')[0].value;
            var portion_size = $('#Portion_size')[0].value;
            var allergens = $('#Allergens')[0].value;
            var price = $('#Price')[0].value;
            $.ajax({
                type: 'post',
                data: {'name': name,
                'email': email,
                'address': address,
                'phone': phone,
                'rating': rating,
                'cuisine': cuisine,
                'food_name': food_name,
                'ingredients': ingredients,
                'portion_size': portion_size,
                'allergens': allergens,
                'price': price},
                dataType: 'json',
                url: '/api/distributors'
            }).done(function() {
                $('#Name')[0].value = "";
                $('#Email')[0].value = "";
                $('#Address')[0].value = "";
                $('#Phone')[0].value = "";
                $('#Rating')[0].value = "";
                $('#Cuisine')[0].value = "";
                $('#Food')[0].value = "";
                $('#Ingredients')[0].value = "";
                $('#Portion_size')[0].value = "";
                $('#Allergens')[0].value = "";
                $('#Price')[0].value = "";
            });
        });
    });
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiiJnimxZEwmritT4f-bSXimJgSnyUv_4&libraries=places&sensor=false"></script>
<script>
    google.maps.event.addDomListener(window, 'load', initialize);
    function initialize() {
        var input = document.getElementById('Address');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
// place variable will have all the information you are looking for.
            console.log(place.geometry['location'].lat());
            console.log(place.geometry['location'].lng());
        });

        google.maps.event.addDomListener(input, 'keydown', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
            }
        });
    }
</script>

