input[type=text] {
    width: 30%;
    border-radius: 4px;
    margin: 8px 0;
    border: 1px solid #ccc;
    padding: 8px;
}

input[type=submit] {
    width: 30%;
    margin: 8px 0;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
}

div {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0);

}

h1 {
    font-size: 80px;
    font-family: "Adobe Garamond Pro", serif;
    color: black;
    background-color: rgba(249, 228, 183, 0);
    text-align: center;
}

.float{
    margin-top: 22px;
    font-size:10px;
    padding-top:30px;
    position:fixed;
    width:60px;
    height:30px;
    bottom:40px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:100px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}


.center {
     text-align: center;
}

body {
    background-image: url("/../images/food.png");
    /*background-size: cover;*/
    /*background-color: #cc003a;*/
    /*background-position: center center;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}
